<ul>
 <li><%= link_to 'Courses', courses_path %></li>
 <li><%= link_to 'Add a course', new_course_path %></li>
 <li><%= link_to 'Users', users_path %></li>
 <li><%= link_to 'Add a user', new_user_path %></li>
</ul>